.MembersGroupJob__header {
    padding: 22px 21px 22px 35px;
    background-color: #fff;
    height: 65px;
    width: calc((100% - 80px) * 3 / 12);
    position: fixed;
    top: 55px;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #e2d7d7;
    z-index: 100;
  }
  
  .MembersGroupJob__header h1 {
    font-size: 18px;
  }
  
  .MembersGroupJob__header2 {
    height: 40px;
    margin-top: 65px;
    position: relative;
  }
  
  .MembersGroupJob .job_information {
    margin-top: -20px;
  }
  .MembersGroupJob .progress-title {
    color: #a09f9f;
    font-weight: 600;
    position: relative;
  }
  
  .MembersGroupJob .progress-title::after {
    position: absolute;
    width: 72%;
    height: 1px;
    content: "";
    background-color: #e2dddd;
    bottom: 8px;
    right: 0;
  }
  
  .MembersGroupJob .tong-so-nguoi-tham-gia .user-n {
    width: 10%;
    height: auto;
  }
  
  .MembersGroupJob .tong-so-nguoi-tham-gia img {
    width: 100%;
  }
  

  /* css modal */
  .bg-info.w-75{
    background-color: rgba(23, 162, 184, 0.5) !important;
    color: rgba(25 , 78, 78, 1) !important;
  }
  .add-members-job .members-left {
    border: 1px solid #ccc;
    min-height: 300px;
  }

  .fillter-member {
    position: relative;
  }

  .fillter-member input {
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
  }

  .fillter-member::after {
    content: '\f002';
    font-family: 'fontAwesome';
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    line-height: 31px;
    color: #ccc
  }

  .add-member-to-group .ava-member img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .modalAddMemberGroup .modal-dialog{
    min-width: 60%;
  }