.ItemBarStatus {
  width: 20px;
  height: 20px;
}

.ItemBarStatus--grey {
  background-color: grey;
}
.ItemBarStatus--orange {
  background-color: orange;
}
.ItemBarStatus--green {
  background-color: #1ce41c;
}
.ItemBarStatus--red {
  background-color: red;
}
